{% extends 'base.html.twig' %}

{% block title %}Liste des employes{% endblock %}

{% block body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">salaire</th>
            <th scope="col">service</th>
        </tr>
    </thead>
    <tbody>
        {% for employe in employes %}
        <tr class="table-success">
            <th>{{employe.nom}}</th>
            <td>{{employe.prenom}}</td>
            <td>{{employe.salaire}}</td>
            <td>{{employe.service}}</td>
            <td><a href="{{path('edit_employe',{'id':employe.id})}}">modifier l'employe</a></td>

            <td><a href="{{path('supprimer_employe',{'id':employe.id})}}">supprimer l'employe</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}